
<div  class="card">
  <div class="card-header bg-primary text-light">
    Gestiòn de productos
    </div>

    <dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.4)"
    [position]="{ of: '#product' }"
    [(visible)]="loading"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [closeOnOutsideClick]="false"
    >
</dx-load-panel>
<form autocomplete="off">
  <div id="product" class="card-body">
    <dx-data-grid  [editing]="editing" [dataSource]="data"   [showBorders]="true"    [repaintChangesOnly]="true"
    [showColumnLines]="true"
        [showRowLines]="true"
        (onRowUpdated)="updateProduct($event)"
        (onRowInserted)="addProduct($event)"
        [showBorders]="true"
        [rowAlternationEnabled]="true">
    [highlightChanges]="true">      
      <dxo-paging [pageSize]="10"></dxo-paging>
      ​<dxo-filter-row [visible]="true"></dxo-filter-row>
<dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-search-panel
      [visible]="true"
      [highlightCaseSensitive]="true" [placeholder]="'Buscar'">
  </dxo-search-panel>
     <dxo-editing  
          mode="form"
          [useIcons]="true"
          [allowUpdating]="true"
          [allowDeleting]="true"
          [confirmDelete]="true"
          [allowAdding]="true">
          <dxo-texts
           deleteRow="Borrar fila"
           addRow="Añadir"
           cancelAllChanges="Cancelar cambios"
           editRow="Editar"
           saveRowChanges="Guardar"
           cancelRowChanges="Cancelar">
       </dxo-texts>
     </dxo-editing>
     <dxi-column
     dataField="empr_codigo"
     caption="Empresa"   >         
     <dxo-lookup
         [dataSource]="businessData"
         displayExpr="Empr_Nombre" 
         valueExpr="Empr_Codigo">
     </dxo-lookup>
 </dxi-column>
     <dxi-column  dataField="prod_codigo" caption="Código" dataType="string" >
      <dxi-validation-rule 
        type="required"
        message="Código requerido">
    </dxi-validation-rule>
     </dxi-column>
     <dxi-column dataField="prod_nombre" caption="Nombre" dataType="string">
      <dxi-validation-rule 
      type="required"
      message="Nombre requerido">
  </dxi-validation-rule>
    </dxi-column>
     <dxi-column dataField="prod_nivele" caption="Niveles" dataType="number">
      <dxi-validation-rule 
        type="required"
        message="Nivel requerido">
    </dxi-validation-rule>
     </dxi-column>
     <dxi-column dataField="prod_padres" caption="Nivel Padre" dataType="number">
      <dxi-validation-rule 
        type="required"
        message="Padre requerido">
    </dxi-validation-rule>
     </dxi-column>
     <dxi-column dataField="prod_permov" caption="Permite movimiento" dataType="string">
      <dxi-validation-rule 
      type="required"
      message="Permite movimuiento requerido">
  </dxi-validation-rule>
      <dxo-lookup
      [dataSource]="allowMovement"
      displayExpr="text"
      valueExpr="value">
  </dxo-lookup>
</dxi-column>
  <dxi-column
  dataField="unid_consec"
  caption="Unidad de medida"   >         
  <dxo-lookup
      [dataSource]="measurentUnityList"
      displayExpr="unid_nombre" 
      valueExpr="unid_consec">
  </dxo-lookup>
</dxi-column>
<dxi-column
dataField="tipr_consec"
caption="Tipo de producto"   >         
<dxo-lookup
    [dataSource]="typeProductList"
    displayExpr="tipr_nombre" 
    valueExpr="tipr_consec">
</dxo-lookup>
</dxi-column>
    
     <dxi-column  dataField="prod_reginv" caption="Registro invima" dataType="string" >
      <dxi-validation-rule 
        type="required"
        message="Registro invima requerido">
    </dxi-validation-rule>
     </dxi-column>
     <dxi-column
     dataField="prod_estado"
     caption="Estado"  >   
     <dxi-validation-rule 
     type="required"
     message="Estado requerido">
 </dxi-validation-rule>      
     <dxo-lookup
         [dataSource]="[  { value:'I','text':'Inactivo' }, {  value:'A', text:'Activo'}]"
         displayExpr="text" 
         valueExpr="value">
     </dxo-lookup>
 </dxi-column>
    </dx-data-grid>
  </div>

</form>

 
</div>
<ngb-alert *ngIf="successMessage" [type]="'success'" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

