
<div class="card">
  <div class="card-header bg-primary text-light darkdiv">
    Movimiento de facturación
  </div>
  <div class="card-body">
   
    <div id="form-demo">
      <div id="form-container">  
        <dx-button
        [disabled] = "!isPossibleApply"
        icon="save"
            text="Aplicar"
            type="success"
            (onClick)="aplicar()">
        </dx-button>   
        <form #formMov (submit)="save($event)"  labelLocation="top" autocomplete="off">
        <dx-form id="form" [colCount]="3" [formData]="movement">      
          <dxi-item dataField="Empr_Codigo" >
            <dxi-validation-rule type="required" message="Empresa es requerida"></dxi-validation-rule>
            <dxo-label text="Empresa"> </dxo-label>
            <dx-lookup (onValueChanged)="onValueChanged($event)" [dataSource]="businessList" valueExpr="Empr_Codigo"
              displayExpr="Empr_Nombre" cancelButtonText="Cancelar" noDataText="No hay datos" searchPlaceholder="Buscar"
              placeholder="Seleccione empresa...">
            </dx-lookup>

          </dxi-item>
          <dxi-item dataField="Movf_Numero" dataType="number" editorType="dxNumberBox" [label]="{text: 'Número'}">
            <dxi-validation-rule type="required" message="Número es requerido"></dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="Docu_Consec">
            <dxi-validation-rule type="required" message="Documento es requerido"></dxi-validation-rule>
            <dxo-label text="Documento"> </dxo-label>
            <dx-lookup (onValueChanged)="setDocument($event)" [dataSource]="documentsAccountingsList" valueExpr="Docu_Consec" displayExpr="Docu_Nombre"
              cancelButtonText="Cancelar" noDataText="No hay datos" searchPlaceholder="Buscar"
              placeholder="Seleccione documento...">
            </dx-lookup>
          </dxi-item>
          <dxi-item dataField="Movf_Fechas" [label]="{text: 'Fecha'}" dataType="date" editorType="dxDateBox"
            >
            <dxi-validation-rule type="required" message="Fecha is requireda"></dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="Mofv_Fecven" [label]="{text: 'Fecha de vencimiento'}" editorType="dxDateBox" 
          >
          <dxi-validation-rule type="required" message="Fecha de vencimiento  requerida"></dxi-validation-rule>
        </dxi-item>

          <!-- <dxi-item dataField="Sucu_Consec"   [label]="{text: 'Sucursal'}"  editorType="dxSelectBox"  [editorOptions]="{ items: branchOfficeList }">
             
            </dxi-item> -->
          <dxi-item dataField="Sucu_Consec">
            <dxi-validation-rule type="required" message="Sucursal es requerida"></dxi-validation-rule>
            <dxo-label text="Sucursal"> </dxo-label>
            <!-- <dx-select-box  [dataSource]="branchOfficeList" valueExpr="Sucu_Codigo" displayExpr="Sucu_Nombre" placeholder="Seleccione Sucursal">
              </dx-select-box> -->
            <dx-lookup (onValueChanged)="setBranchOffice($event)" [dataSource]="branchOfficeList" valueExpr="Sucu_Consec" displayExpr="Sucu_Nombre"
              cancelButtonText="Cancelar" noDataText="No hay datos" searchPlaceholder="Buscar"
              placeholder="Seleccione sucursal...">
            </dx-lookup>
          </dxi-item>

          <dxi-item dataField="Movf_Refere" text="Referencia" [label]="{text: 'Referencia'}">
            <dxi-validation-rule type="required" message="Referencia es requerida"></dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="Movf_Descri" [label]="{text: 'Descripcion'}"  editorType="dxTextArea"
            [colSpan]="3"  [editorOptions]="{ height: 100 }">
            <dxi-validation-rule type="required" message="Descripción requerida">
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="Terc_Consec">
            <dxi-validation-rule type="required" message="Tercero requerido"></dxi-validation-rule>
            <dxo-label text="Tercero"> </dxo-label>          
            <dx-lookup (onValueChanged)="setThirdPartie($event)" [dataSource]="thirdpartiesList" valueExpr="Terc_Consec" displayExpr="Terc_Nombre"
              cancelButtonText="Cancelar" noDataText="No hay datos" searchPlaceholder="Buscar"
              placeholder="Seleccione tercero...">
            </dx-lookup>
          </dxi-item>

          <dxi-item dataField="Bode_Consec">
            <dxi-validation-rule type="required" message="Bodega requerida"></dxi-validation-rule>
            <dxo-label text="Bodega"> </dxo-label>          
            <dx-lookup (onValueChanged)="setCellar($event)" [dataSource]="cellarList" valueExpr="bode_consec" displayExpr="bode_nombre"
              cancelButtonText="Cancelar" noDataText="No hay datos" searchPlaceholder="Buscar"
              placeholder="Seleccione bodega...">
            </dx-lookup>
          </dxi-item>
          <dxi-item dataField="Lisp_Consec">
            <dxi-validation-rule type="required" message="Lista de precios requerida"></dxi-validation-rule>
            <dxo-label text="Lista de precios"> </dxo-label>          
            <dx-lookup (onValueChanged)="setPriceList($event)" [dataSource]="priceList" valueExpr="Lisp_Consec" displayExpr="Lisp_Nombre"
              cancelButtonText="Cancelar" noDataText="No hay datos" searchPlaceholder="Buscar"
              placeholder="Seleccione lista de precios...">
            </dx-lookup>
          </dxi-item>
          <dxi-item dataField="Cenc_Consec">
            <dxi-validation-rule type="required" message="Centro de costos requerido"></dxi-validation-rule>
            <dxo-label text="Centro de costos"> </dxo-label>          
            <dx-lookup (onValueChanged)="setCostCenter($event)" [dataSource]="costCenterList" valueExpr="Cenc_Consec" displayExpr="Cenc_Nombre"
              cancelButtonText="Cancelar" noDataText="No hay datos" searchPlaceholder="Buscar"
              placeholder="Seleccione centro de costos...">
            </dx-lookup>
          </dxi-item>
          <dxi-item dataField="Unin_Consec">
            <dxi-validation-rule type="required" message="Unidad de negocio requerida"></dxi-validation-rule>
            <dxo-label text="Unidad de negocio"> </dxo-label>          
            <dx-lookup (onValueChanged)="SetBusinessUnity($event)" [dataSource]="unitBusiness" valueExpr="Unin_Consec" displayExpr="Unin_Nombre"
              cancelButtonText="Cancelar" noDataText="No hay datos" searchPlaceholder="Buscar"
              placeholder="Seleccione Unidad de negocio...">
            </dx-lookup>
          </dxi-item>
          <!-- <dxi-item dataField="Movf_Valsub" [label]="{text: 'Subtotal'}" editorType="dxNumberBox" [editorOptions]="{ format: '$ #,##0.##' }"  >
          <dxi-validation-rule type="required" message="Subtotal requerido"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="Movf_Valtim" [label]="{text: 'Impuestos'}" editorType="dxNumberBox" [editorOptions]="{ format: '$ #,##0.##' }"  >
          <dxi-validation-rule type="required" message="Impuestos requerido"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="Movf_Valtot" [label]="{text: 'Total'}" editorType="dxNumberBox" [editorOptions]="{ format: '$ #,##0.##' }"  >
          <dxi-validation-rule type="required" message="Total requerido"></dxi-validation-rule>
        </dxi-item>          -->
          <!-- <dxi-item>
            <dx-button
            text="Guardar"
            type="success"
            [useSubmitBehavior]="true">
        </dx-button>
          </dxi-item> -->
          <dxi-item [colSpan]="3"
          itemType="button"
          horizontalAlignment="right"
          [buttonOptions]="{ text:'Guardar', icon:'check', type:'success', useSubmitBehavior: true}">
      </dxi-item>
        </dx-form>
</form>
       
        <!-- <dx-button
        stylingMode="contained"
        text="Contained"
        type="submit"
        [width]="120"
        (onClick)="save()">
    </dx-button> -->

      </div>

    </div>



  </div>
</div>
<div class="card">

  <div class="card-header bg-primary text-light darkdiv">
    Detalle
  </div>


  <div class="card-body">

   
    
    <dx-data-grid [editing]="editing" [dataSource]="movement.Movements" [showBorders]="true" [showRowLines]="true" (onInitNewRow)="onInitNewRow($event)"
      [showBorders]="true" [rowAlternationEnabled]="true">
      [highlightChanges]="true">
      <dxo-paging [pageSize]="10" [enabled]="true"></dxo-paging>
      <dxo-search-panel [visible]="true" [placeholder]="'Buscar'" [highlightCaseSensitive]="true"></dxo-search-panel>
      <dxo-editing mode="form" [useIcons]="true" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true">
        <dxo-texts deleteRow="Borrar fila" addRow="Añadir" cancelAllChanges="Cancelar cambios" editRow="Editar"
          saveRowChanges="Guardar" cancelRowChanges="Cancelar"
          onfirmDeleteMessage="Está seguro de eliminar este registro?">
        </dxo-texts>
      </dxo-editing> 
      <dxi-column dataField="Prod_Consec" caption="Producto">
        <dxo-lookup [dataSource]="productsList" displayExpr="prod_nombre" valueExpr="prod_consec">
        </dxo-lookup>
      </dxi-column>   
      <dxi-column dataField="Dmfa_Cantid" caption="Cantidad" dataType="number">
        <dxi-validation-rule type="required" message="Cantidad requerida">
        </dxi-validation-rule>
      </dxi-column> 
      <dxi-column dataField="Dmfa_Descri" caption="Descripción" dataType="string">
        <dxi-validation-rule type="required" message="Descripción requerida">
        </dxi-validation-rule>
      </dxi-column>    
      <dxi-column dataField="Dmfa_Valmov" format="currency" caption="Valor" dataType="number"  [editorOptions]="{ format: '$ #,##0.##' }">
        <dxi-validation-rule type="required" message="Valor movimiento  requerido">
        </dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="Dmfa_Valimp" format="currency" caption="Valor impuestos" dataType="number"  [editorOptions]="{ format: '$ #,##0.##' }">
        <dxi-validation-rule type="required" message="Valor impuestos  requerido">
        </dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="Dmfa_Valtot" format="currency" caption="Valor total" dataType="number"  [editorOptions]="{ format: '$ #,##0.##' }">
        <dxi-validation-rule type="required" message="Valor total  requerido">
        </dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="Dmfa_Nolote"  caption="No. Lote"  dataType="number">
        <dxi-validation-rule type="required" message="Número lote requerido">
        </dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="Dmfa_Feclot"  caption="Fecha Lote"  dataType="date">
        <dxi-validation-rule type="required" message="Número lote requerido">
        </dxi-validation-rule>
      </dxi-column>     
    </dx-data-grid>
  </div>
</div>