
<div class="card">
  <div class="card-header bg-primary text-light darkdiv">
    Movimiento contable
  </div>
  <div class="card-body">
   
    <div id="form-demo">
      <div id="form-container">     
        <form #formMov (submit)="save($event)"  labelLocation="top">
        <dx-form id="form" [colCount]="3" [formData]="movement">      
          <dxi-item dataField="Empr_Codigo" >
            <dxi-validation-rule type="required" message="Empresa es requerida"></dxi-validation-rule>
            <dxo-label text="Empresa"> </dxo-label>
            <dx-lookup (onValueChanged)="onValueChanged($event)" [dataSource]="businessList" valueExpr="Empr_Codigo"
              displayExpr="Empr_Nombre" cancelButtonText="Cancelar" noDataText="No hay datos" searchPlaceholder="Buscar"
              placeholder="Seleccione empresa...">
            </dx-lookup>

          </dxi-item>
          <dxi-item dataField="Movc_Numero" dataType="number" [label]="{text: 'Número'}">
            <dxi-validation-rule type="required" message="Número es requerido"></dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="Docu_Consec">
            <dxi-validation-rule type="required" message="Documento es requerido"></dxi-validation-rule>
            <dxo-label text="Documento"> </dxo-label>
            <dx-lookup (onValueChanged)="setDocument($event)" [dataSource]="documentsAccountingsList" valueExpr="Docu_Consec" displayExpr="Docu_Nombre"
              cancelButtonText="Cancelar" noDataText="No hay datos" searchPlaceholder="Buscar"
              placeholder="Seleccione documento...">
            </dx-lookup>

          </dxi-item>
          <dxi-item dataField="Movc_Fechas" [label]="{text: 'Fecha'}" editorType="dxDateBox"
            [editorOptions]="{ disabled: true }">
            <dxi-validation-rule type="required" message="Fecha is requireda"></dxi-validation-rule>
          </dxi-item>

          <!-- <dxi-item dataField="Sucu_Consec"   [label]="{text: 'Sucursal'}"  editorType="dxSelectBox"  [editorOptions]="{ items: branchOfficeList }">
             
            </dxi-item> -->
          <dxi-item dataField="Movc_Sucu">
            <dxi-validation-rule type="required" message="Sucursal es requerida"></dxi-validation-rule>
            <dxo-label text="Sucursal"> </dxo-label>
            <!-- <dx-select-box  [dataSource]="branchOfficeList" valueExpr="Sucu_Codigo" displayExpr="Sucu_Nombre" placeholder="Seleccione Sucursal">
              </dx-select-box> -->
            <dx-lookup (onValueChanged)="setBranchOffice($event)" [dataSource]="branchOfficeList" valueExpr="Sucu_Consec" displayExpr="Sucu_Nombre"
              cancelButtonText="Cancelar" noDataText="No hay datos" searchPlaceholder="Buscar"
              placeholder="Seleccione sucursal...">
            </dx-lookup>
          </dxi-item>

          <dxi-item dataField="Movc_Refere" text="Referencia" [label]="{text: 'Referencia'}">
            <dxi-validation-rule type="required" message="Referencia es requerida"></dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="Movc_Descri" [label]="{text: 'Descripción'}" text="Descripción" editorType="dxTextArea"
            [colSpan]="4">
            <dxi-validation-rule type="required" message="Descripción requerida">
            </dxi-validation-rule>
          </dxi-item>

         
          <!-- <dxi-item>
            <dx-button
            text="Guardar"
            type="success"
            [useSubmitBehavior]="true">
        </dx-button>
          </dxi-item> -->
          <dxi-item 
          itemType="button"
          horizontalAlignment="left"
          [buttonOptions]="{ text:'Guardar', icon:'check', type:'success', useSubmitBehavior: true}">
      </dxi-item>
        </dx-form>
</form>
        <dx-button
        [disabled] = "!isPossibleApply"
        icon="save"
            text="Aplicar"
            type="success"
            (onClick)="aplicar()">
        </dx-button>
        <!-- <dx-button
        stylingMode="contained"
        text="Contained"
        type="submit"
        [width]="120"
        (onClick)="save()">
    </dx-button> -->

      </div>

    </div>



  </div>
</div>
<div class="card">

  <div class="card-header bg-primary text-light darkdiv">
    Detalle
  </div>


  <div class="card-body">

   
    
    <dx-data-grid [editing]="editing" [dataSource]="movement.Movements" [showBorders]="true" [showRowLines]="true"
      [showBorders]="true" [rowAlternationEnabled]="true">
      [highlightChanges]="true">
      <dxo-paging [pageSize]="10" [enabled]="true"></dxo-paging>
      <dxo-search-panel [visible]="true" [placeholder]="'Buscar'" [highlightCaseSensitive]="true"></dxo-search-panel>
      <dxo-editing mode="popup" [useIcons]="true" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true">
        <dxo-texts deleteRow="Borrar fila" addRow="Añadir" cancelAllChanges="Cancelar cambios" editRow="Editar"
          saveRowChanges="Guardar" cancelRowChanges="Cancelar"
          onfirmDeleteMessage="Está seguro de eliminar este registro?">
        </dxo-texts>
      </dxo-editing>
      <dxi-column dataField="Cuen_Consec" caption="Cuenta" >
        <dxo-lookup [dataSource]="contabilityAccountingsList" displayExpr="Cuen_Nombre" valueExpr="Cuen_Consec">
        </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="Dmco_Descri" caption="Descripción" dataType="string">
        <dxi-validation-rule type="required" message="Descripción requerida">
        </dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="Mmco_Refere" caption="Referencia" dataType="string">
        <dxi-validation-rule type="required" message="Referencia requerida">
        </dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="Dmco_Valdeb" format="currency" caption="Valor Débito" dataType="number"  [editorOptions]="{ format: '$ #,##0.##' }">
        <dxi-validation-rule type="required" message="Valor débito  requerido">
        </dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="Dmco_Valcre" format="currency" caption="Valor Crédito" dataType="number" [editorOptions]="{ format: '$ #,##0.##' }">
        <dxi-validation-rule type="required" message="Valor crédito requerido">
        </dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="Dmco_Valbas" format="currency" caption="Valor Base" dataType="number" [editorOptions]="{ format: '$ #,##0.##' }">
        <dxi-validation-rule type="required" message="Valor base requerido">
        </dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="Dmco_Porbas" caption="Porcentaje Base" dataType="number">
        <dxi-validation-rule type="required" message="Porcentaje requerido">
        </dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="Terc_Consec" caption="Tercero">
        <dxo-lookup [dataSource]="thirdpartiesList" displayExpr="Terc_Nombre" valueExpr="Terc_Consec">
        </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="Unin_Consec" caption="Unidad de negocio">
        <dxo-lookup [dataSource]="unitBusiness" displayExpr="Unin_Nombre" valueExpr="Unin_Consec">
        </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="Cenc_Consec" caption="Centro de costos">
        <dxo-lookup [dataSource]="costCenterList" displayExpr="Cenc_Nombre" valueExpr="Cenc_Consec">
        </dxo-lookup>
      </dxi-column>
    </dx-data-grid>
  </div>
</div>