<div class="card">
  <div class="card-header bg-primary text-light">
   Movimiento contable
  </div>
  <div class="card-body">

    <div class="col-xl-8">

      
      <form>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="EMPR_CODIGO">Empresa</label>          
            <select name="EMPR_CODIGO" id="EMPR_CODIGO" class="form-control" [(ngModel)]="movimiento.EMPR_CODIGO">
              <option selected>Elegir empresa...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="DOCU_CONSEC">Consecutivo</label>
            <input disabled type="number" class="form-control" id="DOCU_CONSEC" [(ngModel)]="movimiento.DOCU_CONSEC">
          </div>         
          <div class="form-group col-md-3">
            <label for="MOVC_NUMERO">Número</label>
            <input type="number" class="form-control" id="MOVC_NUMERO" placeholder="Número" [(ngModel)]="movimiento.MOVC_NUMERO">
          </div>
          <div class="form-group col-md-3">
            <label for="MOVC_FECHAS">Fecha</label>
            <input disabled type="date" class="form-control" id="MOVC_FECHAS" [(ngModel)]="movimiento.MOVC_FECHAS">
          </div>   
         
        </div>
      
        <div class="form-row">
          <div class="form-group col-md-3">           
            <label for="SUCU_CONSEC">Sucursal</label>          
            <select id="SUCU_CONSEC" class="form-control" [(ngModel)]="movimiento.SUCU_CONSEC">
              <option selected>Elegir sucursal...</option>
              <option>...</option>
            </select>            
        </div>    
          <div class="form-group col-md-3">
            <label for="MOVC_REFERE">Referencia</label>
            <input type="number" class="form-control" id="MOVC_REFERE" placeholder="Referencia" [(ngModel)]="movimiento.MOVC_REFERE">
          </div>
          <div class="form-group col-md-3">
            <label for="MOVC_ESTADO">Estado</label>
            <input disabled type="number" class="form-control" id="MOVC_ESTADO" placeholder="Referencia" [(ngModel)]="movimiento.MOVC_ESTADO">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="MOVC_DESCRI">Descripción</label>
            <textarea type="text" class="form-control" id="MOVC_DESCRI" [(ngModel)]="movimiento.MOVC_DESCRI"></textarea>
          </div>
              
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>
  </div>

  <div class="card-header bg-primary text-light">
   Detalle
   </div>
   <div class="card-body">
     <dx-data-grid [editing]="editing" [dataSource]="movimiento.detalle">
      <dxo-paging [enabled]="true"></dxo-paging>
      <dxo-editing 
           mode="form"
           [allowUpdating]="true"
           [allowDeleting]="true"
           [allowAdding]="true">
           <dxo-texts
            deleteRow="Borrar fila"
            addRow="Añadir"
            cancelAllChanges="Cancelar cambios"
            editRow="Editar"
            saveRowChanges="Guardar"
            cancelRowChanges="Cancelar">
        </dxo-texts>
      </dxo-editing>
      <dxi-column dataField="DMCO_CONSEC" caption="Id" dataType="number"></dxi-column>
      <dxi-column dataField="CUEN_CONSEC" caption="Cuenta" dataType="number"></dxi-column>
      <dxi-column dataField="DMCO_DESCRI" caption="Descripción" dataType="string"></dxi-column>
      <dxi-column dataField="MMCO_REFERE" caption="Referencia" dataType="string"> </dxi-column>
      <dxi-column dataField="DMCO_VALDEB" caption="Valor Débito" dataType="number"></dxi-column>
      <dxi-column dataField="DMCO_VALCRE" caption="Valor Crédito" dataType="number"></dxi-column>
      <dxi-column dataField="DMCO_VALBAS" caption="Valor Base" dataType="number"></dxi-column>
      <dxi-column dataField="DMCO_PORBAS" caption="Porcentaje Base" dataType="number"></dxi-column>
     </dx-data-grid>
   </div>
</div>

